body {
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    overflow-x: hidden;
}

img {
    float: left; /* Или float: right; в зависимости от того, с какой стороны вы хотите обтекание */
    margin-right: 100px; /* Регулируйте отступ в зависимости от ваших предпочтений */
}

.zoomable-image {
    width: 250px;
    height: 250px;
    transition: transform 0.3s; /* Добавляем плавный переход при изменении размера */
}

/* Стили для изображения при наведении курсора */
.zoomable-image:hover {
    transform: scale(1.8); /* Увеличиваем размер в два раза (можете настроить по вашему вкусу) */
    z-index: 1; /* Устанавливаем z-index, чтобы изображение оказалось выше остального контента */
}

/*navigate*/
nav {
    overflow: hidden;
    display: flex;
    height: 40px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #565656;
    z-index: 1000;
    /*box-shadow: 10px 10px 15px 0 rgba(34, 60, 80, 0.2);*/
}

.content {
    max-width: 100%;
    /*height: 90vh;*/
    padding-top: 20px;
    margin-bottom: 50px;
}

nav .left {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo_image {
    cursor: pointer;
    margin: 0 40px;
}

nav .right {
    display: flex;
    align-items: center;
}

.left a {
    margin-left: 20px;
}


nav a {
    min-width: 100px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    text-decoration: none;
    color: rgb(196, 196, 196);
    padding: 0 20px;
}

nav a:hover {
    display: flex;
    height: 30px;
    color: white;
    background: rgba(127, 134, 143, 0.81);
    border-radius: 20px 20px 0 0;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-top: 10px;
}

.nav-link {
    padding: 0 20px;
    color: rgb(196, 196, 196);
}

.nav-link:hover {
    display: flex;
    height: 30px;
    color: white;
    background: rgba(127, 134, 143, 0.81);
    border-radius: 20px 20px 0 0;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-top: 10px;
}

.user-info {
    padding: 0 100px;
    color: #d7b32a;
}

.user-info-home {
    color: #d72a2a;
    width: 980px;
    margin: 20px auto;
    height: fit-content;
    padding: 10px;
    background-color: #c1e6f9;
    border-radius: 15px;
    box-shadow: 10px 10px 15px 0 rgba(34, 60, 80, 0.2);
}


.nav-link.active {
    display: flex;
    height: 30px;
    color: black;
    background: #c1e6f9;
    border-radius: 20px 20px 0 0;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-top: 10px;
}

/*home*/
.home_page {
    /*display: flex;*/
    /*justify-content: center;*/
    padding: 10px 40px;
    /*width: 100%;*/
    /*height: 100%;*/
    /*overflow: auto;*/
}

.home_text {
    text-align: justify;
    font-size: 20px;
    padding: 20px;
}

.title_page {
    display: flex;
    max-width: 100%;
    height: 40px;
    background: #c1e6f9;
    margin-top: 20px;
    align-items: center;
    padding: 0 40px;

    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #565656;
    text-shadow: 2px 2px 2px #999999;
}


/*login*/

.login_page, .news_page {
    box-sizing: border-box;
    padding: 60px 10px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login_title {
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 0 auto 20px;
}

.login_form {
    width: 560px;
    margin: 20px auto;
    height: fit-content;
    padding: 10px;
    background-color: #c1e6f9;
    border-radius: 15px;
    box-shadow: 10px 10px 15px 0 rgba(34, 60, 80, 0.2);
}


.site_support {
    width: 1000px;
    margin: 20px auto;
    height: fit-content;
    padding: 10px;
    background-color: #c1e6f9;
    border-radius: 15px;
    box-shadow: 10px 10px 15px 0 rgba(34, 60, 80, 0.2);
}

.wrapper_box {
    display: flex;
    justify-content: center;
    width: fit-content;
    gap: 20px;
}

.box_content {
    width: fit-content;
    min-width: 150px;
    height: fit-content;
    padding: 10px;
    background-color: #c1e6f9;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 0 rgba(34, 60, 80, 0.2);
}

.save_protocol {
    height: fit-content;
    padding: 10px;
    background-color: #c1e6f9;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 0 rgba(34, 60, 80, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.box_content_center {
    width: fit-content;
    min-width: 100px;
    /*margin: auto;*/
    height: fit-content;
    padding: 10px;
    background-color: #c1e6f9;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 0 rgba(34, 60, 80, 0.2);
}

.box_content ul {
    /*text-align: justify;*/
    margin: 0;
    width: 960px;
}

.box_content_time_end {
    width: fit-content;
    min-width: 100px;
    height: fit-content;
    padding: 10px;
    background-color: #c1e6f9;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 0 rgba(34, 60, 80, 0.2);
    color: red;
}

.form_login input {
    width: 100%;
    height: 30px;
    font-size: 20px;
    background-color: #c5d3ec;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 10px 10px 15px 0 rgba(34, 60, 80, 0.2);
    cursor: pointer;
    margin-bottom: 5px;
    /*padding: 10px;*/
}

.form_login label {
    font-size: 20px;
    text-shadow: 1px 1px 1px rgb(87, 144, 217);
}

.form_login input:focus {
    /*background-color: rgb(87, 144, 217);*/
    box-shadow: 10px 10px 15px 0 rgb(87, 144, 217);
}

.form_button {
    display: flex;
    width: 100%;
    justify-content: center;
}

.form_login button {
    /*position: relative;*/
    /*left: 30%;*/
    /*width: 30%;*/
    margin-top: 20px;
    width: fit-content;
    min-width: 120px;
    padding: 10px;
    /*height: 30px;*/
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 10px 10px 15px 0 rgba(34, 60, 80, 0.2);
    text-shadow: 1px 1px 1px rgb(87, 144, 217);

    cursor: pointer;
}

.login_link {
    display: flex;
    justify-content: flex-end;
}

.login_link a {
    color: #565656;
    text-decoration: none;
    text-shadow: 2px 2px 2px #999999;
    /*color:white;*/
}

.login_link a .ss2 {
    display: none;
}

.login_link a .ss1 {
    display: block;
}

.login_link a:hover {
    color: #565656;
}

.login_link a:hover .ss1 {
    display: none;
}

.login_link a:hover .ss2 {
    display: block;
}

.btn_lox {
    margin-right: 10px;
    width: fit-content;
    min-width: 120px;
    /*padding:  10px;*/
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: black;
    text-decoration: none;
    box-shadow: 10px 10px 15px 0 rgba(34, 60, 80, 0.2);
    text-shadow: 1px 1px 1px rgb(87, 144, 217);
    cursor: pointer;
}

.button_def {
    /*margin-top: 20px;*/
    margin-right: 10px;
    width: fit-content;
    min-width: 120px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: black;
    text-decoration: none;
    box-shadow: 10px 10px 15px 0 rgba(34, 60, 80, 0.2);
    text-shadow: 1px 1px 1px rgb(87, 144, 217);

    cursor: pointer;
}


.form_login button:hover, .button_def:hover, .btn_lox:hover {
    background-color: rgb(87, 144, 217);
    border: 1px solid rgb(87, 144, 217);
    color: white;
    box-shadow: 1px 1px 1px 0 rgb(87, 144, 217);
}

.form_login button:active, .button_def:active, .btn_active {
    background-color: rgb(87, 144, 217);
    /*width: 29.6%;*/
    color: white;
    font-size: 15px;
    box-shadow: none;
}


.question-number {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.question-numbers {
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1001;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-number:hover {
    transform: scale(1.3);
    background-color: #399f90;
}


/* Параметры стилей для отображения новостей */
.news-item {
    /*background-color:  rgba(192, 204, 190, 0.84);*/
    background-color: #c1e6f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.news-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.news-item .created,
.news-item .views {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.details {
    display: flex;
    justify-content: space-between;
}

.views {
    margin-left: auto;
}


ul {
    list-style-type: none;
    padding: 0;
}


/*!* Стилизация окна сообщения *!*/
.message-box {
    padding: 10px;
    width: 100%;
    color: red;
    text-align: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #565656;
    gap: 10px;
    color: white;
}


.popup {
    position: fixed;
    width: 100%;
    z-index: 1500;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.popup.open {
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
    z-index: 100000;
}

.popup.open .popup__content {
    -webkit-transform: perspective(600px) translate(0, 0) rotateX(0);
    transform: perspective(600px) translate(0, 0) rotateX(0);
    opacity: 1;
    background: #2b2b2b;
    border: 1px solid rgba(255, 255, 255, 0.11);
    -webkit-box-shadow: 0px 29px 130px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 29px 130px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.popup__body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 10px;
    overflow: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.popup__content {
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    opacity: 0;
    -webkit-transform: perspective(600px) translate(0, -100%) rotateX(45deg);
    transform: perspective(600px) translate(0, -100%) rotateX(45deg);
    overflow: auto;
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.box_paginator {
    width: fit-content;
    min-width: 100px;
    margin: auto;
    height: fit-content;
    padding: 10px;
    background-color: #c1e6f9;
    box-shadow: 10px 10px 15px 0 rgba(34, 60, 80, 0.2);
}

.form_login_button:hover {
    background-color: rgb(87, 144, 217);
    border: 1px solid rgb(87, 144, 217);
    color: white;
    box-shadow: 10px 10px 15px 0 rgb(87, 144, 217);
}

.content-details {
    display: flex;
    justify-content: space-between;
}

.content-examinations {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}


.fixed-header {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 1000;
}

.main-content {
    margin-top: 80px;
}

.message-container {
    color: red;
    display: flex;
    align-items: center;
    justify-content: right;
}

.user-online {
    display: flex;
    align-items: center;
    justify-content: right;
}


.btn {
    color: black;
}

.btn-info {
    border-color: #000000;
    background-color: #c1e6f9;
    display: inline-block;
    margin: 0 auto;
}

.clearfix {
    margin: 5px;
    text-align: center;
}

.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
}

.active_user {
    color: #007bff;
    margin-right: 5px;
    background-color: #007bff;
    padding: 2px;
    border-radius: 2px;
}

.no_active_user {
    color: red;
    margin-right: 5px;
    background-color: red;
    padding: 2px;
    border-radius: 2px;
}

.calendar th:nth-child(6), /* Суббота */
.calendar th:nth-child(7) { /* Воскресенье */
    color: green;
}


.calendar tr, .calendar td {
    border: 1px solid black;
}

.calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.calendar td {
    width: 200px;
    height: 130px;
    padding: 20px 0px 0px 5px;
}

.month {
    font-size: 30px;
    background: #c1e6f9;
    color: #000000;
}

.date {
    font-size: 20px;
    color: #000000;
}

ul {
    height: 100%;
    padding: 0px 0px 0px 15px;
}