{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
<nav>
    <div class="left">
        <a class="nav-link" data-target="home" href="{% url 'home' %}">Главная</a>
        {% if user.is_authenticated %}
            <span class="user-info">Аккаунт: {{ user.fio }}
            <span style="color: blue">
                ({% if user.role == user.TEACHER %}
                    учитель
                {% elif user.role == user.STUDENT %}
                    ученик
                {% endif %})
            </span>
            </span>
        {% endif %}
    </div>

    <div class="right">
        {% if not user.is_authenticated %}
            <a class="nav-link" data-target="registration" href="{% url 'user_registration' %}">Регистрация</a>
            <a class="nav-link" data-target="login" href="{% url 'user_login' %}">Войти</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="nav-link" data-target="account" href="{% url 'board' %}">Доска</a>
            <a class="nav-link" data-target="account" href="{% url 'task' %}">Задание<span style="color: red">{% if unread_count %} ({{ unread_count }}){% endif %}</span></a>
            <a class="nav-link" data-target="account" href="{% url 'user_account' user.id %}">Аккаунт</a>
            <a class="nav-link" data-target="logout" href="{% url 'user_logout' %}">Выйти</a>
        {% endif %}
    </div>
</nav>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>


