{% extends 'base.html' %}

{% block title %}Доска{% endblock %}

{% block content %}

    <div class="title_page">Доска</div>
    <div class="home_page">
        {% if request.user.is_authenticated %}
            {% if request.user.role == 'teacher' %}
                <a href="{% url 'add_board' %}" class="btn btn-primary">Добавить запись на доску</a>
            {% endif %}
        {% endif %}
        <ul>
            {% for board in boards %}
                <h3><a href="{% url 'board_detail' board.id %}">{{ board.title }}</a></h3>
                <p>Создал(а): <span style="color: red"> {{ board.created_by }} </span>в ({{ board.created_at|date:"d.m.Y - H:i" }})</p>
                <hr>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
